setuptools 
wheel 
torch 
torchvision 
torchaudio
pyaudio
Cython
numpy 
soundfile 
librosa
pyttsx3
openai-whisper
requests
gtts
TTS
psycopg[binary]
pgvector
sentence-transformers
docling
langextract
ollama
python-dotenv
